body{font-family:Arial,Helvetica,Sans-serif;font-size:12pt;float: none !important;}

div.center{text-align:center;}
ul{display:none;}

table{border:3px solid #000;border-collapse:collapse;width:100%;font-size:10pt;}

th,td{border:1px solid #000;border-collapse:collapse;text-align:center;}
th{font-weight:bold;}

.header1{font-size:14pt;font-weight:bold;}
.header2,.header3{font-size:12pt;font-weight:bold;}

td.cat{font-style:italic; font-size:18pt; text-align:center;}

a:link:after{content:attr(href);font-size: 6pt;}
